# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
/.nyc_output

# Production
/build
/dist
/public/uploads  # Nếu bạn upload file cục bộ và không muốn chúng được commit

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tgz
.eslintcache
.next/           # Next.js build output
.nuxt/          # Nuxt.js build output
.parcel-cache/  # Parcel cache
.svelte-kit/    # SvelteKit build output
.vite/          # Vite cache
.idea/          # JetBrains IDEs
.vscode/        # VS Code settings
*.sqlite        # SQLite databases
*.db            # Generic database files
*.sublime-project
*.sublime-workspace

# Optional: If you use Docker
!.dockerignore
!docker-compose.yml